<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>controller.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMarca</servlet-name>
        <servlet-class>controller.ServletMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTipoCategoria</servlet-name>
        <servlet-class>controller.ServletTipoCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTipoHabitacion</servlet-name>
        <servlet-class>controller.ServletTipoHabitacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTipoCategoriaAdd</servlet-name>
        <servlet-class>controller.ServletTipoCategoriaAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOperacionesMesa</servlet-name>
        <servlet-class>controller.ServletOperacionesMesa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAgregaPedido</servlet-name>
        <servlet-class>controller.ServletAgregaPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEstadoDetPedido</servlet-name>
        <servlet-class>controller.ServletEstadoDetPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFactura</servlet-name>
        <servlet-class>controller.ServletFactura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMarcaAdd</servlet-name>
        <servlet-class>controller.ServletMarcaAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCategoria</servlet-name>
        <servlet-class>controller.ServletCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCategoriaAdd</servlet-name>
        <servlet-class>controller.ServletCategoriaAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUnidadMedidaAdd</servlet-name>
        <servlet-class>controller.ServletUnidadMedidaAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProductoAdd</servlet-name>
        <servlet-class>controller.ServletProductoAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmpleadoAdd</servlet-name>
        <servlet-class>controller.ServletEmpleadoAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmpleadoUpdate</servlet-name>
        <servlet-class>controller.ServletEmpleadoUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>controller.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuarioAdd</servlet-name>
        <servlet-class>controller.ServletUsuarioAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEntradaInvet</servlet-name>
        <servlet-class>controller.ServletEntradaInvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTipoCuentaAdd</servlet-name>
        <servlet-class>controller.ServletTipoCuentaAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProductoUpdate</servlet-name>
        <servlet-class>controller.ServletProductoUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMovimientoInventario</servlet-name>
        <servlet-class>controller.ServletMovimientoInventario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHabitacion</servlet-name>
        <servlet-class>controller.ServletHabitacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletContabilidad</servlet-name>
        <servlet-class>controller.ServletContabilidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizaPedido</servlet-name>
        <servlet-class>controller.ServletActualizaPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMesas</servlet-name>
        <servlet-class>controller.ServletMesas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCliente</servlet-name>
        <servlet-class>controller.ServletCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletReservas</servlet-name>
        <servlet-class>controller.ServletReservas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDescuentoTemporales</servlet-name>
        <servlet-class>controller.ServletDescuentoTemporales</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMarca</servlet-name>
        <url-pattern>/ServletMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTipoCategoria</servlet-name>
        <url-pattern>/ServletTipoCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTipoHabitacion</servlet-name>
        <url-pattern>/ServletTipoHabitacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTipoCategoriaAdd</servlet-name>
        <url-pattern>/ServletTipoCategoriaAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOperacionesMesa</servlet-name>
        <url-pattern>/ServletOperacionesMesa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAgregaPedido</servlet-name>
        <url-pattern>/ServletAgregaPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEstadoDetPedido</servlet-name>
        <url-pattern>/ServletEstadoDetPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFactura</servlet-name>
        <url-pattern>/ServletFactura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMarcaAdd</servlet-name>
        <url-pattern>/ServletMarcaAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCategoria</servlet-name>
        <url-pattern>/ServletCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCategoriaAdd</servlet-name>
        <url-pattern>/ServletCategoriaAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUnidadMedidaAdd</servlet-name>
        <url-pattern>/ServletUnidadMedidaAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProductoAdd</servlet-name>
        <url-pattern>/ServletProductoAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmpleadoAdd</servlet-name>
        <url-pattern>/ServletEmpleadoAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmpleadoUpdate</servlet-name>
        <url-pattern>/ServletEmpleadoUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ServletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuarioAdd</servlet-name>
        <url-pattern>/ServletUsuarioAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEntradaInvet</servlet-name>
        <url-pattern>/ServletEntradaInvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTipoCuentaAdd</servlet-name>
        <url-pattern>/ServletTipoCuentaAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProductoUpdate</servlet-name>
        <url-pattern>/ServletProductoUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMovimientoInventario</servlet-name>
        <url-pattern>/ServletMovimientoInventario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHabitacion</servlet-name>
        <url-pattern>/ServletHabitacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletContabilidad</servlet-name>
        <url-pattern>/ServletContabilidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizaPedido</servlet-name>
        <url-pattern>/ServletActualizaPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMesas</servlet-name>
        <url-pattern>/ServletMesas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCliente</servlet-name>
        <url-pattern>/ServletCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletReservas</servlet-name>
        <url-pattern>/ServletReservas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDescuentoTemporales</servlet-name>
        <url-pattern>/ServletDescuentoTemporales</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
